pure_pursuit:
  ros__parameters:
    waypoints_path: "/home/rcv/Desktop/PID_ws/src/PPcontroller/racelines/1016.csv"
    odom_topic: "/odom"
    car_refFrame: "base_link"
    global_refFrame: "map"
    drive_topic: "/drive"
    rviz_current_waypoint_topic: "/current_waypoint"
    rviz_lookahead_waypoint_topic: "/lookahead_waypoint"

    # Pure Pursuit Parameters
    # Lookahead is computed using the following: lookahead = min(max(min_lookahead, max_lookahead * curr_velocity / lookahead_ratio), max_lookahead);
    # min_lookahead: 0.5 # for square track
    min_lookahead: 0.8 # for larger track
    max_lookahead: 2.5 # lookahead when the car is going around max velocity
    lookahead_ratio: 5.5 # approximately the max velociy
    #K_p: 0.25 # for square track
    #K_p: 0.15 # for big track
    min_searching_idx_offset: 10
    max_searching_idx_offset: 40
    K_p: 0.6
    K_d: 0.06
    K_i: 0.000
    I_dist: 3
    heading_error_gain: 0.3
    steering_limit: 25.0
    velocity_percentage: 1.0 # the limit, can only do 1 lap with clean tires

waypoint_visualizer_node:
  ros__parameters:
    waypoints_path: "/home/rcv/Desktop/PID_ws/src/PPcontroller/racelines/1016.csv"
